body {
    --bs-body-bg: teal;
}

/* FIRST TWO COLUMN SECTION STYLES */

h3.display-4 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.btn-info {
    border: 2px dashed white;
    color: black;
}

a.btn-info:hover {
    border: 2px dashed white;
    color: black;
    box-shadow: 5px 5px 10px;
}

p.blue-text {
    color: blue;
    cursor: pointer;
}

.lead {
    color: white;
}

.introduction {
    line-height: 1.9;
    color: white;
}


.connect {
    color: black;
}

/* ICON COLUMN SECTION STYLES */
.icons {
    font-size: 70px;
}

.icons:hover {
    box-shadow: 3px 3px 6px;
    border-radius: 7px;
    transition: 2s;
}


.envelope {
    color: red;
}

.github {
    color: black;
}



.intro-section p {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
}

.gray-white-section {
    background-color: #d5d5d5;
}

/* MY SKILLS SECTION STYLES */
#my-skills-section {
    font-family: 'Times New Roman', Times, serif;
}

#my-skills-section .display-2 {
    color: teal;
}

#css, #bootstrap, #html, #javascript, #react, #git, #typescript {
    font-weight: bold;
}

#html {
    color: greenyellow;
    margin-bottom: 20px;
}

#css {
    color: lightblue;
    margin-bottom: 20px;
}

#bootstrap {
    color: turquoise;
}

#javascript {
    color: #ffb703;
    margin-bottom: 20px;
}

#react {
    color: #00b4d8;
    margin-bottom: 20px;
}

#git {
    color: white;
}

#typescript {
    color: palevioletred;
}

/* MY ABOUT SECTION STYLES */
.fs-1 {
    display: inline;
}

.about-section {
    background-color: #94d2bd;
}

.about-section p {
    font-weight: bolder;
    font-size: 20px;
}
.about-div {
    margin-left: 140px;
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    box-shadow: 4px 4px 7px;
}

/* MY PROJECT SECTION STYLES */
.project-section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #fed9b7;
    font-weight: 500;
    font-style: oblique;
    border-bottom: 1px dashed gray;
    background-color: black;
    border-radius: 7px;
}

.project-section p {
    color: yellow;
    font-weight: bold;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-section img:hover {
    border: 2px solid #ff6700;
    opacity: 0.7;
    transition: 2s;
}

.arrow {
    color: black;
}

/* MY CONTACT SECTION STYLES */
.contact-section .card {
    border: 6px solid turquoise;
}

.contact-section h1 {
    color: white;
    font-size: 55px;
}

.contact-section button:hover {
    background-color: teal;
}

input[placeholder] {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea[placeholder] {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* MY FOOTER SECTION STYLES */
.footer-section p {
    color: teal;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* MY MEDIA QUERY STYLES */
@media(max-width: 768px) {
    #my-skills-section hr {
        color: turquoise;
    }
}

@media(max-width: 721px) {
    .project-section h1 .down-arrow {
        font-size: 25px;
    }

    .project-section h1 {
        font-size: 40px;
    }
}

@media(max-width: 575px) {
    #bootstrap {
        margin-bottom: 20px;
    }
}

@media(max-width: 560px) {
    .project-section h1 {
        font-size: 30px;
    }
}

@media(max-width: 480px) {
    .icons {
        font-size: 45px;
    }
}

@media(max-width: 390px) {
    .about-div {
        margin-left: 70px;
    }
}




