
section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* NAVBAR STYLES */
.navbar {
    background-color: black;
}

.navbar button {
    background-color: white;
}

.navbar ul li a {
    color: white;
    margin-left: 14px;
    margin-right: 14px;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 6px;
}

.navbar-brand span {
    color: aliceblue;
}



































/* <i class="fa fa-envelope-o" aria-hidden="true"></i>
<i class="fa fa-linkedin" aria-hidden="true"></i>
<i class="fa fa-linkedin-square" aria-hidden="true"></i>
<i class="fa fa-envelope" aria-hidden="true"></i>
<i class="fa fa-facebook-square" aria-hidden="true"></i>
<i class="fa fa-facebook" aria-hidden="true"></i>
<i class="fa fa-github" aria-hidden="true"></i>
*/
